:root {
  --primary-bg-color: #17c9c3;
  --secondary-bg-color: #f5f5f5;

  --theme-text-color: #17c9c3;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;

}

/* COMMON CSS  */

.primary-bg {
  background-color: var(--primary-bg-color);
}

.secondary-bg {
  background-color: var(--secondary-bg-color);
}

.theme-text {
  color: var(--theme-text-color);
}

.text-white {
  color: var(--secondary-text-color);
}

.text-black {
  color: var(--primary-text-color);
}

.text-align {
  text-align: center;
}

.theme-btn {
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  outline-offset: 3px;

}

.theme-btn a {
  text-decoration: none;
}

.theme-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: .2s ease-in-out;
}

.radius-none {
  border-radius: 0;
}

h1 {
  margin-bottom: 2rem;
}

p {
  line-height: 30px;
  letter-spacing: 1px;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

section {
  padding: 6% 0;
}

footer {
  padding: 3% 0;
}

.bold-font {
  font-weight: bold;
}

#work {
  padding: 4%;
}

#services {
  padding: 2% 0;
}



html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}


/* navigation css */
.navbar {
  background-color: transparent;
  position: absolute;
}

.nav-item a {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #17c9c3;
  ;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #17c9c3;
}

.navbar-nav .nav-link:hover {
  color: #17c9c3;
}



/* Banner Header */

.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../image/nordwood-themes-EZSm8xRjnX0-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.contentBox {
  width: 50%;
}

.headerText {
  text-align: center;
  height: auto;
}


.work-img {
  position: relative;
  width: 100%;
  background: #000000;
}

.grid-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 300px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.work-img:hover .grid-img {
  opacity: 0.3;
}

.work-img:hover .middle {
  color: #fff;
  opacity: 1;
}

.text {
  color: white;
  font-size: 2rem;
}

img {
  vertical-align: unset;
  border-style: none;
}


/* Skill content css */


.skill-banner {
  background: url("../image/above-art-background-733852.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.skill-contentBox {
  width: 50%;
}

.skill-slide {
  width: 100%;
  height: 5px;
  margin-bottom: 1rem;
  background-color: #cecece;
}

.design {
  width: 60%;
  height: 5px;
  background-color: #17c9c3;
}

.development {
  width: 80%;
  height: 5px;
  background-color: #17c9c3;
}

.marketing {
  width: 30%;
  height: 5px;
  background-color: #17c9c3;
}




.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}


.btn:hover {
  color: #fff;
  text-decoration: none;
}


.loadWork {
  margin: auto;
}

.loadWork h6 {
  text-align: center;
  font-weight: bold;
  margin: auto;
  margin-bottom: 0;
}

.specialize {
  text-align: center;
  padding: 10px;

}

.specialize:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.6s;
}

.specialize img {
  margin: 20px;
}


.flip-card {
  background-color: transparent;
  width: 100%;
  height: 200px;
  perspective: 1000px;
  margin: 7% 0px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 200px;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: var(--primary-bg-color);
  color: white;
  transform: rotateY(180deg);
  font-weight: bold;
  padding: 5%;
}

.form-control {
  background-color: #fff;
  border: none;
}

.btn-set {
  justify-content: center;
  display: flex;
}

.child3 div {
  float: right;
}


/* footer css */
.footer-section {
  background-color: #141414;
}

.footer-wrap {
  margin: 20px 0;
}

.about-company li {
  list-style: none;
}

.about-company li a {
  text-decoration: none;
  color: var(--secondary-text-color);
}







/* Swiper css */
.swiper-container {
  width: 100%;
  height: auto;
  background-color: var(--primary-bg-color);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 50vh;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  opacity: 0.9;
}

.slide-padding {
  padding: 0 20%;
}









/* RESPONSIVE  */

@media screen and (max-width: 767px) {

  section {
    padding: 8% 5%;
  }

  .contentBox {
    width: 100%;
    text-align: center;
  }

  .skill-contentBox {
    width: 100%;
  }

  .skill-content-box {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100% !important;
    top: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .slide-padding {
    padding: 0 30%;
  }

  .grid-img {
    height: 250px;
    width: 100%;
  }

  .vlog {
    padding-bottom: 3rem;
  }

  .child1 {
    order: 1;
  }

  .child3 div {
    float: left;
  }

}